.block-editor__container .editor-styles-wrapper {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  color: #222;
  background: #fff;
  *:not(i) {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@media (min-width: 576px) {
  .wp-block,
  .wp-block[data-align=wide]{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wp-block,
  .wp-block[data-align=wide]{
    max-width: 748px;
  }
}

@media (min-width: 992px) {
  .wp-block,
  .wp-block[data-align=wide]{
    max-width: 988px;
  }
}

@media (min-width: 1200px) {
  .wp-block,
  .wp-block[data-align=wide]{
    max-width: 1168px;
  }
}

.editor-block-list__layout .editor-block-list__block[data-align=full]{
  margin-right: auto;
  margin-left: auto;
}

.editor-block-list__layout .editor-block-list__block[data-align=full]{
  max-width: calc(100% - 30px);
}

@media (min-width: 576px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full]{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full]{
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full]{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full]{
    max-width: 1140px;
  }
}

.editor-block-list__block[data-type="core/button"][data-align=center]{
  clear: both;
}

.wp-block-button__link{
  line-height: 1!important;
  font-size: 15px;
  background-color: #222;
  font-weight: 700;
  letter-spacing: 1px;
  br {
    display: none;
  }
}

.edit-post-visual-editor {
  .editor-post-title {
    padding-left: 46px;
    padding-right: 46px;
    word-break: break-word;
    margin-bottom: 20px;
    margin-top: 0;
    .editor-post-title__input{
      font-weight: 600!important;
      color: #222;
      line-height: 1.2!important;
      font-size: 40px!important;
    }
  }
}

.post-type-page {
  .edit-post-visual-editor {
    .editor-post-title {
      .editor-post-title__input{
        text-align: center;
        padding: 100px 0;
        font-size: 50px!important;
      }
    }
  }
}

ol,
ul {
  li {
    color: #222;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 15px;
    padding-left: 0;
    padding-top: 8px;
  }
  padding-left: 0;
  margin-bottom: 20px;
  ol,
  ul {
    margin-bottom: 0;
  }
}

.editor-styles-wrapper {
  blockquote{
    margin: 30px 0;
  }
  .wp-block p:not(.wp-block-cover-text) {
    font-size: 15px;
    font-weight: 400;
    color: #888;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  .wp-block ol,
  .wp-block ul{
    ol,ul{
      margin-bottom: 0;
      margin-top: 6px;
    }
    a {
      color: #222;
      font-weight: 400;
      text-decoration: none;
      -moz-transition: all 350ms ease;
      -webkit-transition: all 350ms ease;
      -ms-transition: all 350ms ease;
      -o-transition: all 350ms ease;
      transition: all 350ms ease;
      &:hover{
        color: var(--main-color);
      }
    }
  }
  .wp-block select{
    font-size: 15px;
  }
  .wp-block ul,
  .wp-block ol {
    color: #888;
    line-height: 2;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 0;
  }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote,
  .wp-block-quote {
    border: none!important;
    cite,
    .wp-block-quote__citation{
      color: #222;
      font-weight: 400;
      font-size: 14px;
      font-style: italic;
    }
  }
  .wp-block-shortcode textarea{
    color: #888;
    line-height: 1.7;
    font-size: 15px;
  }
  .wp-block-embed figcaption,
  .wp-block-video figcaption,
  .wp-block-image figcaption{
    font-size: 13px;
    line-height: normal;
    color: #222;
    font-weight: normal;
    text-align: center;
    a{
      color: #222;
      text-decoration: none;
      font-weight: 500;
      &:hover{
        color: var(--main-color);
      }
    }
  }
  strong,b{
    font-weight: 600;
  }
  p.wp-block-cover-text{
    line-height: 1.25;
    a{
      text-decoration: none;
      font-weight: 400;
    }
  }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote,
  .wp-block .wp-block-quote{
    padding: 0!important;
    color: #222;
    a{
      color: #222;
      text-decoration: none;
      font-size: 15px;
      text-transform: initial;
      font-weight: 400;
      &:hover{
        color: var(--main-color);
      }
    }
    &.is-style-large .wp-block-quote__citation{
      font-size: 18px;
    }
  }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote p,
  .wp-block .wp-block-pullquote div p{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    color: inherit;
  }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
  .wp-block .wp-block-pullquote div .wp-block-pullquote__citation{
    font-weight: 500;
    color: inherit!important;
  }
  .wp-block-freeform.block-library-rich-text__tinymce,
  .wp-block-heading{
    h1,h2,h3,h4,h5,h6{
      line-height: 1.2;
    }
  }
  .wp-block-freeform.block-library-rich-text__tinymce h1,
  .wp-block-heading h1{
    font-size: 44px;
  }
  .wp-block-freeform.block-library-rich-text__tinymce h2,
  .wp-block-heading h2{
    font-size: 36px;
  }
  .wp-block-freeform.block-library-rich-text__tinymce h3,
  .wp-block-heading h3{
    font-size: 30px;
  }
  .wp-block-freeform.block-library-rich-text__tinymce h4,
  .wp-block-heading h4{
    font-size: 24px;
  }
  .wp-block-freeform.block-library-rich-text__tinymce h5,
  .wp-block-heading h5{
    font-size: 18px;
  }
  .wp-block-freeform.block-library-rich-text__tinymce h6,
  .wp-block-heading h6{
    font-size: 14px;
  }
  .wp-block-file .wp-block-file__button{
    line-height: 1.23;
  }
  .wp-block-file__textlink{
    font-weight: 500;
  }
  .wp-block-code{
    background: var(--soft-grey-color);
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    border: none;
    border-radius: 0;
    padding: 0;
    textarea{
      display: block;
      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #333;
      word-break: break-all;
      word-wrap: break-word;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  .wp-block-html textarea{
    border: none;
    padding: 0;
  }
  .wp-block pre{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .wp-block-table {
    color: #888;
    font-size: 15px;
    border-color: #222!important;
    th, td{
      padding: 5px 10px;
      *{
        padding: 0;
        color: #222;
      }
    }
  }
}


.block-editor ul.wp-block-archives,
.block-editor .wp-block-categories ul{
  padding-left: 1.5em;
}

.block-editor .wp-block-latest-posts{
  padding-left: 1em;
}

.wp-block-freeform.block-library-rich-text__tinymce{
  font-size: 15px;
  a{
    color: #222;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    &:hover{
      color: var(--main-color);
    }
  }
  code {
    background-color: var(--soft-grey-color);
    color: #222;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    line-height: 1.375;
    clear: both;
    color: #222;
  }
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 30px;
    table-layout: fixed;
    width: 100%;
    word-break: break-word;
    text-align: left;
  }
  dt {
    font-weight: 700;
  }
  table,
  th,
  table td,
  td {
    border: 1px solid #222;
    border-collapse: collapse;
    padding: 5px 10px;
  }

  td{
    color: #888;
  }

  dt {
    color: #888;
  }

  dt {
    color: #222;
  }

  dd {
    margin: 0 0 30px;
    color: #222;
    font-size: 14px!important;
  }

  address {
    font-style: italic;
    margin-bottom: 30px;
    color: #888;
  }

  abbr,
  acronym {
    border-bottom: 1px dotted var(--soft-grey-color);
    cursor: help;
  }

  code {
    background-color: var(--soft-grey-color);
    color: #222;
  }

  mark,
  ins {
    background: var(--main-color);
    color: #fff;
    padding: 0.125em 0.25em;
    text-decoration: none;
  }

  kbd {
    font-weight: 100;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--soft-grey-color);
    color: #222;
  }

  var {
    color: #222;
    font-weight: 500;
  }

  p {
    color: #888;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  b,
  strong {
    color: var(--gery-color);
    font-weight: 700;
  }
  ol ol ul,
  ol ul ul,
  ul ol ul,
  ul ul ul {
    list-style-type: square;
  }
  ol,
  ul {
    li {
      color: #222;
      line-height: 1.5;
      margin-bottom: 0;
      font-size: 15px;
      padding-left: 0;
      padding-top: 8px;
    }
    padding-left: 0;
    margin-bottom: 20px;
    ol,
    ul {
      margin-bottom: 0;
    }
  }

  ul {
    margin-left: 25px;
  }

  ol {
    margin-left: 25px;

    li {
      padding-left: 5px;
    }
  }

  tt {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    background-color: var(--soft-grey-color);
    color: #222;
  }

  figcaption {
    font-size: 13px;
    line-height: 2;
    color: #888;
    font-weight: normal;
    font-style: italic;
    margin-top: 16px;
    text-align: center;
  }

  blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic;
    p,
    & {
      font-size: 24px;
      line-height: 1.5;
      color: #222;
      font-weight: 400;
    }

    p {
      margin-bottom: 0;
    }
  }

  cite {
    margin-top: 30px;
    color: #888;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    font-style: normal;
    display: block;
    a {
      color: #888;
      font-size: 12px;

      &:hover {
        color: var(--main-color);
      }
    }
  }
  code, kbd, pre, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
  }
  pre {
    background: #fdfdfd;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;

    * {
      margin: 0;
    }
  }

  figure {
    max-width: 100%;

    &.alignleft {
      margin: 0.375em 1.75em 1.75em 0;
    }

    &.alignright {
      margin: 0.375em 0 1.75em 1.75em;
    }
  }

}

//.wp-block-cover .wp-block-cover-image-text,
//.wp-block-cover .wp-block-cover-text,
//.wp-block-cover h2,
//.wp-block-cover-image .wp-block-cover-image-text,
//.wp-block-cover-image .wp-block-cover-text,
//.wp-block-cover-image h2{
//  font-size: 15px;
//  line-height: 1.6!important;
//  font-weight: 400;
//  color: #888;
//  margin-bottom: 10px;
//}

@media only screen and (max-width: 1200px) {
  .edit-post-visual-editor .editor-post-title .editor-post-title__input{
    font-size: 35px;
  }
}

@media only screen and (max-width: 991px) {
  .edit-post-visual-editor .editor-post-title .editor-post-title__input{
    font-size: 32px;
  }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote p,
  .editor-styles-wrapper .wp-block .wp-block-pullquote div p,
  .editor-styles-wrapper .wp-block .wp-block-quote p{
    font-size: 21px;
  }
}

@media only screen and (max-width: 768px) {
  .wp-block-freeform.block-library-rich-text__tinymce,
  .editor-styles-wrapper{
    .wp-block-heading h1{
      font-size: 32px;
    }
    .wp-block-heading h2{
      font-size: 28px;
    }
    .wp-block-heading h3{
      font-size: 25px;
    }
    .wp-block-heading h4{
      font-size: 22px;
    }
    .wp-block-heading h5{
      font-size: 17px;
    }
    .wp-block-heading h6{
      font-size: 13px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .edit-post-visual-editor .editor-post-title .editor-post-title__input{
    font-size: 27px;
  }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote p,
  .editor-styles-wrapper .wp-block .wp-block-pullquote div p,
  .editor-styles-wrapper .wp-block .wp-block-quote p{
    font-size: 18px;
  }
}

@media only screen and (max-width: 599px) {
  .edit-post-visual-editor {
    .editor-post-title {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .edit-post-visual-editor .editor-post-title .editor-post-title__input{
    font-size: 24px;
  }
}
