@font-face {
    font-family: 'padoicon';
    src:  url('../fonts/padoicon.eot?2wvzvq');
    src:  url('../fonts/padoicon.eot?2wvzvq#iefix') format('embedded-opentype'),
    url('../fonts/padoicon.ttf?2wvzvq') format('truetype'),
    url('../fonts/padoicon.woff?2wvzvq') format('woff'),
    url('../fonts/padoicon.svg?2wvzvq#padoicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="padoicon-"], [class*=" padoicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'padoicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.padoicon-apartment-building-hotel-real-room:before {
    content: "\e900";
    color: inherit;
}
.padoicon-apartment-building-hotel-room:before {
    content: "\e901";
    color: inherit;
}
.padoicon-apartment:before {
    content: "\e902";
    color: inherit;
}
.padoicon-barn:before {
    content: "\e903";
    color: inherit;
}
.padoicon-boat:before {
    content: "\e904";
    color: inherit;
}
.padoicon-building-factory-real-stock-store:before {
    content: "\e905";
    color: inherit;
}
.padoicon-building-hotel-real-room:before {
    content: "\e906";
    color: inherit;
}
.padoicon-building:before {
    content: "\e907";
    color: inherit;
}
.padoicon-bungalow:before {
    content: "\e908";
    color: inherit;
}
.padoicon-car-house:before {
    content: "\e909";
    color: inherit;
}
.padoicon-castle:before {
    content: "\e90a";
    color: inherit;
}
.padoicon-container-estate-office-real-room:before {
    content: "\e90b";
    color: inherit;
}
.padoicon-guesthouse:before {
    content: "\e90c";
    color: inherit;
}
.padoicon-hill:before {
    content: "\e90d";
    color: inherit;
}
.padoicon-home:before {
    content: "\e90e";
    color: inherit;
}
.padoicon-homestay:before {
    content: "\e90f";
    color: inherit;
}
.padoicon-house-japan:before {
    content: "\e910";
    color: inherit;
}
.padoicon-house-residence:before {
    content: "\e911";
    color: inherit;
}
.padoicon-house:before {
    content: "\e912";
    color: inherit;
}
.padoicon-hut-property-real-room-villa:before {
    content: "\e913";
    color: inherit;
}
.padoicon-igloo:before {
    content: "\e914";
    color: inherit;
}
.padoicon-inn:before {
    content: "\e915";
    color: inherit;
}
.padoicon-key:before {
    content: "\e916";
    color: inherit;
}
.padoicon-lighthouse:before {
    content: "\e917";
    color: inherit;
}
.padoicon-maldives:before {
    content: "\e918";
    color: inherit;
}
.padoicon-mosque:before {
    content: "\e919";
    color: inherit;
}
.padoicon-outdoor-room-tent:before {
    content: "\e91a";
    color: inherit;
}
.padoicon-palace:before {
    content: "\e91b";
    color: inherit;
}
.padoicon-residence:before {
    content: "\e91c";
    color: inherit;
}
.padoicon-store:before {
    content: "\e91d";
    color: inherit;
}
.padoicon-temple:before {
    content: "\e91e";
    color: inherit;
}
.padoicon-villa:before {
    content: "\e91f";
    color: inherit;
}
.padoicon-bank:before {
    content: "\e920";
}
.padoicon-brush:before {
    content: "\e921";
}
.padoicon-building-tile:before {
    content: "\e922";
}
.padoicon-car:before {
    content: "\e923";
}
.padoicon-carpenter:before {
    content: "\e924";
}
.padoicon-construction-2:before {
    content: "\e925";
}
.padoicon-construction-3:before {
    content: "\e926";
}
.padoicon-construction-4:before {
    content: "\e927";
}
.padoicon-construction-5:before {
    content: "\e928";
}
.padoicon-construction-6:before {
    content: "\e929";
}
.padoicon-construction-7:before {
    content: "\e92a";
}
.padoicon-construction-8:before {
    content: "\e92b";
}
.padoicon-construction-9:before {
    content: "\e92c";
}
.padoicon-construction-10:before {
    content: "\e92d";
}
.padoicon-construction-11svg:before {
    content: "\e92e";
}
.padoicon-construction-12svg:before {
    content: "\e92f";
}
.padoicon-construction-13svg:before {
    content: "\e930";
}
.padoicon-construction-14svg:before {
    content: "\e931";
}
.padoicon-construction-15svg:before {
    content: "\e932";
}
.padoicon-construction-16svg:before {
    content: "\e933";
}
.padoicon-construction-17svg:before {
    content: "\e934";
}
.padoicon-construction-18svg:before {
    content: "\e935";
}
.padoicon-construction-19svg:before {
    content: "\e936";
}
.padoicon-construction-20svg:before {
    content: "\e937";
}
.padoicon-construction-21svg:before {
    content: "\e938";
}
.padoicon-construction-22svg:before {
    content: "\e939";
}
.padoicon-construction-23svg:before {
    content: "\e93a";
}
.padoicon-construction-24:before {
    content: "\e93b";
}
.padoicon-construction-25:before {
    content: "\e93c";
}
.padoicon-construction-26:before {
    content: "\e93d";
}
.padoicon-construction-27:before {
    content: "\e93e";
}
.padoicon-construction-28:before {
    content: "\e93f";
}
.padoicon-construction-29:before {
    content: "\e940";
}
.padoicon-construction-30:before {
    content: "\e941";
}
.padoicon-construction-31:before {
    content: "\e942";
}
.padoicon-construction-32:before {
    content: "\e943";
}
.padoicon-construction-33:before {
    content: "\e944";
}
.padoicon-construction-35:before {
    content: "\e945";
}
.padoicon-construction-36:before {
    content: "\e946";
}
.padoicon-construction-37:before {
    content: "\e947";
}
.padoicon-construction-38:before {
    content: "\e948";
}
.padoicon-construction-39:before {
    content: "\e949";
}
.padoicon-construction-40:before {
    content: "\e94a";
}
.padoicon-construction-41:before {
    content: "\e94b";
}
.padoicon-construction-42:before {
    content: "\e94c";
}
.padoicon-construction-43:before {
    content: "\e94d";
}
.padoicon-construction-44:before {
    content: "\e94e";
}
.padoicon-construction-46:before {
    content: "\e94f";
}
.padoicon-construction-47:before {
    content: "\e950";
}
.padoicon-construction-48:before {
    content: "\e951";
}
.padoicon-construction-49:before {
    content: "\e952";
}
.padoicon-construction-50:before {
    content: "\e953";
}
.padoicon-construction-51:before {
    content: "\e954";
}
.padoicon-construction-53:before {
    content: "\e955";
}
.padoicon-construction-54:before {
    content: "\e956";
}
.padoicon-construction-55:before {
    content: "\e957";
}
.padoicon-construction-56:before {
    content: "\e958";
}
.padoicon-construction-57:before {
    content: "\e959";
}
.padoicon-construction:before {
    content: "\e95a";
}
.padoicon-construction1svg:before {
    content: "\e95b";
}
.padoicon-drill:before {
    content: "\e95c";
}
.padoicon-electrical:before {
    content: "\e95d";
}
.padoicon-estate:before {
    content: "\e95e";
}
.padoicon-excavator:before {
    content: "\e95f";
}
.padoicon-factory:before {
    content: "\e960";
}
.padoicon-floor:before {
    content: "\e961";
}
.padoicon-foam:before {
    content: "\e962";
}
.padoicon-hospital:before {
    content: "\e963";
}
.padoicon-interior-105:before {
    content: "\e964";
}
.padoicon-interior-106:before {
    content: "\e965";
}
.padoicon-knife:before {
    content: "\e966";
}
.padoicon-laser:before {
    content: "\e967";
}
.padoicon-leve:before {
    content: "\e968";
}
.padoicon-light:before {
    content: "\e969";
}
.padoicon-onstruction-2:before {
    content: "\e96a";
}
.padoicon-onstruction-3:before {
    content: "\e96b";
}
.padoicon-onstruction-4:before {
    content: "\e96c";
}
.padoicon-onstruction-5:before {
    content: "\e96d";
}
.padoicon-onstruction:before {
    content: "\e96e";
}
.padoicon-paint:before {
    content: "\e96f";
}
.padoicon-pipe:before {
    content: "\e970";
}
.padoicon-plumb:before {
    content: "\e971";
}
.padoicon-radiator:before {
    content: "\e972";
}
.padoicon-repair:before {
    content: "\e973";
}
.padoicon-ruler:before {
    content: "\e974";
}
.padoicon-sealant-gun:before {
    content: "\e975";
}
.padoicon-set-of-tools:before {
    content: "\e976";
}
.padoicon-shop:before {
    content: "\e977";
}
.padoicon-shovel:before {
    content: "\e978";
}
.padoicon-sign-stop:before {
    content: "\e979";
}
.padoicon-steps:before {
    content: "\e97a";
}
.padoicon-tile:before {
    content: "\e97b";
}
.padoicon-tools:before {
    content: "\e97c";
}
.padoicon-tube:before {
    content: "\e97d";
}
.padoicon-voltmeter:before {
    content: "\e97e";
}
.padoicon-wallpaper:before {
    content: "\e97f";
}
.padoicon-welding:before {
    content: "\e980";
}
.padoicon-wheelbarrow:before {
    content: "\e981";
}
.padoicon-window:before {
    content: "\e982";
}
.padoicon-worker:before {
    content: "\e983";
}
.padoicon-interior-2:before {
    content: "\e984";
}
.padoicon-interior-3:before {
    content: "\e985";
}
.padoicon-interior-4:before {
    content: "\e986";
}
.padoicon-interior-5:before {
    content: "\e987";
}
.padoicon-interior-6:before {
    content: "\e988";
}
.padoicon-interior-7:before {
    content: "\e989";
}
.padoicon-interior-8:before {
    content: "\e98a";
}
.padoicon-interior-9:before {
    content: "\e98b";
}
.padoicon-interior-10:before {
    content: "\e98c";
}
.padoicon-interior-11:before {
    content: "\e98d";
}
.padoicon-interior-12:before {
    content: "\e98e";
}
.padoicon-interior-13:before {
    content: "\e98f";
}
.padoicon-interior-14svg:before {
    content: "\e990";
}
.padoicon-interior-15:before {
    content: "\e991";
}
.padoicon-interior-16:before {
    content: "\e992";
}
.padoicon-interior-17:before {
    content: "\e993";
}
.padoicon-interior-18:before {
    content: "\e994";
}
.padoicon-interior-19:before {
    content: "\e995";
}
.padoicon-interior-20:before {
    content: "\e996";
}
.padoicon-interior-21:before {
    content: "\e997";
}
.padoicon-interior-23:before {
    content: "\e998";
}
.padoicon-interior-24:before {
    content: "\e999";
}
.padoicon-interior-25:before {
    content: "\e99a";
}
.padoicon-interior-26:before {
    content: "\e99b";
}
.padoicon-interior-27:before {
    content: "\e99c";
}
.padoicon-interior-28:before {
    content: "\e99d";
}
.padoicon-interior-29:before {
    content: "\e99e";
}
.padoicon-interior-30:before {
    content: "\e99f";
}
.padoicon-interior-31:before {
    content: "\e9a0";
}
.padoicon-interior-32:before {
    content: "\e9a1";
}
.padoicon-interior-33:before {
    content: "\e9a2";
}
.padoicon-interior-34:before {
    content: "\e9a3";
}
.padoicon-interior-35:before {
    content: "\e9a4";
}
.padoicon-interior-36:before {
    content: "\e9a5";
}
.padoicon-interior-37:before {
    content: "\e9a6";
}
.padoicon-interior-38:before {
    content: "\e9a7";
}
.padoicon-interior-39:before {
    content: "\e9a8";
}
.padoicon-interior-40:before {
    content: "\e9a9";
}
.padoicon-interior-41:before {
    content: "\e9aa";
}
.padoicon-interior-42:before {
    content: "\e9ab";
}
.padoicon-interior-43:before {
    content: "\e9ac";
}
.padoicon-interior-44:before {
    content: "\e9ad";
}
.padoicon-interior-45:before {
    content: "\e9ae";
}
.padoicon-interior-46:before {
    content: "\e9af";
}
.padoicon-interior-47:before {
    content: "\e9b0";
}
.padoicon-interior-48:before {
    content: "\e9b1";
}
.padoicon-interior-49:before {
    content: "\e9b2";
}
.padoicon-interior-50:before {
    content: "\e9b3";
}
.padoicon-interior-51:before {
    content: "\e9b4";
}
.padoicon-interior-52:before {
    content: "\e9b5";
}
.padoicon-interior-53:before {
    content: "\e9b6";
}
.padoicon-interior-54:before {
    content: "\e9b7";
}
.padoicon-interior-55:before {
    content: "\e9b8";
}
.padoicon-interior-56:before {
    content: "\e9b9";
}
.padoicon-interior-57:before {
    content: "\e9ba";
}
.padoicon-interior-59:before {
    content: "\e9bb";
}
.padoicon-interior-60:before {
    content: "\e9bc";
}
.padoicon-interior-61:before {
    content: "\e9bd";
}
.padoicon-interior-62:before {
    content: "\e9be";
}
.padoicon-interior-63:before {
    content: "\e9bf";
}
.padoicon-interior-64:before {
    content: "\e9c0";
}
.padoicon-interior-65:before {
    content: "\e9c1";
}
.padoicon-interior-66:before {
    content: "\e9c2";
}
.padoicon-interior-67:before {
    content: "\e9c3";
}
.padoicon-interior-68:before {
    content: "\e9c4";
}
.padoicon-interior-69:before {
    content: "\e9c5";
}
.padoicon-interior-70:before {
    content: "\e9c6";
}
.padoicon-interior-71:before {
    content: "\e9c7";
}
.padoicon-interior-73:before {
    content: "\e9c8";
}
.padoicon-interior-74:before {
    content: "\e9c9";
}
.padoicon-interior-76:before {
    content: "\e9ca";
}
.padoicon-interior-77:before {
    content: "\e9cb";
}
.padoicon-interior-78:before {
    content: "\e9cc";
}
.padoicon-interior-79:before {
    content: "\e9cd";
}
.padoicon-interior-80:before {
    content: "\e9ce";
}
.padoicon-interior-81:before {
    content: "\e9cf";
}
.padoicon-interior-82:before {
    content: "\e9d0";
}
.padoicon-interior-83:before {
    content: "\e9d1";
}
.padoicon-interior-84:before {
    content: "\e9d2";
}
.padoicon-interior-85:before {
    content: "\e9d3";
}
.padoicon-interior-86:before {
    content: "\e9d4";
}
.padoicon-interior-87:before {
    content: "\e9d5";
}
.padoicon-interior-88:before {
    content: "\e9d6";
}
.padoicon-interior-89:before {
    content: "\e9d7";
}
.padoicon-interior-90:before {
    content: "\e9d8";
}
.padoicon-interior-91:before {
    content: "\e9d9";
}
.padoicon-interior-92:before {
    content: "\e9da";
}
.padoicon-interior-93:before {
    content: "\e9db";
}
.padoicon-interior-94:before {
    content: "\e9dc";
}
.padoicon-interior-95:before {
    content: "\e9dd";
}
.padoicon-interior-96:before {
    content: "\e9de";
}
.padoicon-interior-97:before {
    content: "\e9df";
}
.padoicon-interior-98:before {
    content: "\e9e0";
}
.padoicon-interior-99:before {
    content: "\e9e1";
}
.padoicon-interior-100:before {
    content: "\e9e2";
}
.padoicon-interior-101:before {
    content: "\e9e3";
}
.padoicon-interior-102:before {
    content: "\e9e4";
}
.padoicon-interior-103:before {
    content: "\e9e5";
}
.padoicon-interior-104:before {
    content: "\e9e6";
}
.padoicon-interior:before {
    content: "\e9e7";
}