$step: 5;
$count: 40;

@for $i from 0 through $count {
  .margin-lg-#{$step*$i}t {
    margin-top: 0px+$step*$i !important;
  }
}

@for $i from 0 through $count {
  .margin-lg-#{$step*$i}b {
    margin-bottom: 0px+$step*$i !important;
  }
}

@for $i from 0 through $count {
  .padding-lg-#{$step*$i}t {
    padding-top: 0px+$step*$i !important;
  }
}

@for $i from 0 through $count {
  .padding-lg-#{$step*$i}b {
    padding-bottom: 0px+$step*$i !important;
  }
}

@media screen and (max-width: 1199px) {
  @for $i from 0 through $count {
    .margin-md-#{$step*$i}t {
      margin-top: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .margin-md-#{$step*$i}b {
      margin-bottom: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .padding-md-#{$step*$i}t {
      padding-top: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .padding-md-#{$step*$i}b {
      padding-bottom: 0px+$step*$i !important;
    }
  }
}

@media screen and (max-width: 991px) {
  @for $i from 0 through $count {
    .margin-sm-#{$step*$i}t {
      margin-top: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .margin-sm-#{$step*$i}b {
      margin-bottom: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .padding-sm-#{$step*$i}t {
      padding-top: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .padding-sm-#{$step*$i}b {
      padding-bottom: 0px+$step*$i !important;
    }
  }
}

@media screen and (max-width: 767px) {
  @for $i from 0 through $count {
    .margin-xs-#{$step*$i}t {
      margin-top: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .margin-xs-#{$step*$i}b {
      margin-bottom: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .padding-xs-#{$step*$i}t {
      padding-top: 0px+$step*$i !important;
    }
  }

  @for $i from 0 through $count {
    .padding-xs-#{$step*$i}b {
      padding-bottom: 0px+$step*$i !important;
    }
  }
}